{% extends 'base.html' %}
{% load static %}

{% block main_content %}


		<div class="breadcrumb-bar">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-12 col-12">
						
						<h2 class="breadcrumb-title">Booking</h2>
					</div>
				</div>
			</div>
		</div>


		<div class="content success-page-cont">
			<div class="container-fluid">
				<div class="row justify-content-center">
					<div class="col-lg-6">

						<div class="card success-card">
							<div class="card-body">
								<div class="success-cont">
									
									<i class="fas fa-check"></i>
									<h3>Appointment Has Been SuccessFully !</h3>
									
									<i class="fas fa-exclamation"></i>
									<h3>Wait For Dr. Approval</h3>
									
									<p>Appointment appllied to <strong> DR.</strong></p>
									
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
{% endblock %}