{% extends 'base_doctor.html' %}
{% load static %}

{% block main_content %}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				{% if msg_d %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					{{msg_d}}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				{% elif msg_s %}
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					{{msg_s}}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				{% endif %}
				
				<div class="account-content mb-5">
					<div class="row align-items-center justify-content-center">
						<div class="col-md-7 col-lg-6 login-left">
							<img src="{% static 'assets/img/login-banner.png' %}" class="img-fluid"
								alt="Doccure Register">
						</div>
						<div class="col-md-12 col-lg-6 login-right">
							<div class="login-header">
								<h3>Doctor's Register </h3>
							</div>



							<form method="post" action="{% url 'doctor_register' %}">
								{% csrf_token %}

								<div class="form-group form-focus">
									<input type="text" class="form-control floating" name="name">
									<label class="focus-label">Name</label>
								</div>
								<div class="form-group form-focus">
									<input type="email" name="email" class="form-control floating">
									<label class="focus-label">Email</label>
								</div>
								<div class="form-group form-focus">
									<input type="text" name="address" class="form-control floating">
									<label class="focus-label">Address</label>
								</div>
								<div class="form-group mt-0">
									<select class="form-select form-control" name="degree">
										<option>Select</option>
										{% for degree in degrees %}
											<option value="{{degree.id}}">{{degree.Name}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="form-group form-focus">
									<input type="text" name="clinic_name" class="form-control floating">
									<label class="focus-label">Clinic Name</label>
								</div>
								<div class="form-group form-focus">
									<input type="text" name="clinic_address" class="form-control floating">
									<label class="focus-label">Clinic Address</label>
								</div>

								<div class="form-group form-focus">
									<input type="password" name="password" class="form-control floating">
									<label class="focus-label">Create Password</label>
								</div>
								<div class="form-group form-focus">
									<input type="password" name="confirm_password" class="form-control floating">
									<label class="focus-label">Confirm Password</label>
								</div>

								<div class="text-end">
									<a class="forgot-link" href="{% url 'login' %}">Already have an account?</a>
								</div>
								<button class="btn btn-primary w-100 btn-lg login-btn" type="submit">Signup</button>

							</form>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}